@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --robert: 'Roboto', sans-serif;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #141414 0%, #253354 100%);
    --bggradient_1: linear-gradient(to top, #141414 0%, #253354 100%);
    --light-gray: #d3d3d379;
}

header a {
    font-family: var(--robert);
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: var(--bggradient);
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 0.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 3rem;
}