@media only screen and (max-width: 375px) {
    header .navbar-brand {
        padding-left: 0.5rem;
    }

    header .row .col-md-5 img {
        padding-right: 4.75rem;
        width: 120%;
    }

    footer img {
        width: 10%;
    }

    footer .text-muted {
        padding-left: 1rem;
    }
}